<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
<div class="col-md-16" style="background-color: black; height: 200px;">
    <div style=" color: white;text-align: center;padding-top: 70px;font-size: 50px;font-family: 'Montserrat Subrayada', sans-serif;" >
            <strong>REVIEW</strong><br>
    </div>


</div>
<div style="text-align: center; font-size: xx-large;padding-left: 65px;font-family: 'Fondamento', cursive;">
   <p>T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.</p>
</div>
<div style=" font-size: xx-large; padding-left: 72px; padding-top: 20px;font-family: 'Fondamento', cursive;">
    <div>
        DIRECTOR : Ryan Coogler
    
 </div>
 </div>
 <div style=" font-size: xx-large; padding-left: 72px; padding-top: 20px;font-family: 'Fondamento', cursive;">
    <div>
        WRITER :   Ryan Coogler, Joe Robert Cole | 2 more credits »
    
 </div>
 </div>
 <div style=" font-size: xx-large; padding-left: 72px; padding-top: 20px;font-family: 'Fondamento', cursive;">
    <div>
       STARTS :   Chadwick Boseman, Michael B. Jordan, Lupita Nyong'o | 
    
 </div>
 </div>
 <div class="col-md-6" style="padding-left: 600px; padding-top: 10px;">
    <a> <button [routerLink]="['/booknow']"  routerLinkActive="active" mat-raised-button color="warn">book</button></a>
  </div>