<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@500&display=swap" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@500&display=swap');
    </style>
<div class="banner" style="height: 300px;">
    <div style="height: 300px; background : url('//in.bmscdn.com/webin/static/aboutus/bg.jpg') no-repeat; background-size: cover;">
        <div class="text-block">
            <p  style="padding-top: 20px; align-items: center; text-align: center; font-size: xxx-large ;font-family: 'Montserrat Subrayada', sans-serif;
            font-family: 'Montserrat Subrayada', sans-serif;" class="uppertext">WE ARE</p>
            <h1 style="align-items: center; text-align: center; font-size: 100px;font-family: 'Montserrat Subrayada', sans-serif;
            font-family: 'Montserrat Subrayada', sans-serif; " class="lowertext">Movie Buffs</h1>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding-top: 40px; text-align: center; font-size:xx-large; font-family: 'Raleway', sans-serif; background-color: white; color: black; height: 400px;">
    <div >
        21 years ago in South Africa a seed of an idea was planted, a dream was shared. Inception happened. 21 years on, we look back at what we've built. Leave it up to us, and we'd love to do it all over again. Here's our story
    </div>
    <div class="col-md-12" style="padding-top: 30px; padding-left: 100px;">
        <div>
            <mat-icon>public</mat-icon>
        </div>
        <div class="col-md-4">
            <div>
           <strong> 50 MILLION + APP DOWNLOADS</strong>
            </div>
        </div>
        <div class="col-md-4">
            <div>
           <strong> 50 MILLION + TICKETS PER MONTH</strong>
            </div>
        </div>
        <div class="col-md-4">
            <div>
           <strong> 50 BILLION + PAGE VIEW PER MONTH</strong>
            </div>
        </div>
    </div>
 
    
    
</div>

