<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="banner" style="height: 300px;">
    <div style="height: 300px; background : url('//in.bmscdn.com/webin/static/aboutus/bg.jpg') no-repeat; background-size: cover;">
        <div class="text-block">
            
            <h1 style="align-items: center; text-align: center; font-size: 100px;font-family: 'Montserrat Subrayada', sans-serif;
            font-family: 'Raleway', sans-serif; padding-top: 30px;font-family: 'Josefin Sans', sans-serif;" class="lowertext">CONTACT US</h1>
             <p  style="padding-top: 20px; align-items: center; text-align: center; font-size: xxx-large ;font-family: 'Montserrat Subrayada', sans-serif;
             font-family: 'Raleway', sans-serif;font-family: 'Montserrat Subrayada', sans-serif; " class="uppertext">LETS GET IN TOUCH</p>
        </div>
    </div>
</div>
<div class="col-md-12" style="background-color: white; height: 400px;">
    <div style="font-size: xx-large; padding-top: 20px; padding-left: 20px; color: black;" >
        contact us:
    </div>
    <div class="col-md-12">
        <div style="font-size: xx-large; padding-top: 20px; padding-left: 20px; color: black; font-family: 'Josefin Sans', sans-serif;">
            <mat-icon> add_location</mat-icon> Big Tree Entertainment Private Limited Ground Floor, Wajeda House, Gulmohar Cross Road No. 7, Juhu Scheme, Mumbai, Maharashtra - 400049
        </div>
        <div style="font-size: xx-large; padding-top: 20px; padding-left: 20px; color: black; font-family: 'Josefin Sans', sans-serif;">
            <mat-icon>assignment</mat-icon>  CIN-U99999MH1999PTC120990
        </div>
    </div>

</div>