<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
<div class="col-md-16" style="background-color: black; height: 200px;">
    <div style="color: white;text-align: center;padding-top: 70px;font-size: 50px;font-family: 'Montserrat Subrayada', sans-serif; " >
            <strong>REVIEW</strong><br>
    </div>
</div>
<div style="text-align: center; font-size: xx-large;font-family: 'Fondamento', cursive;">
   <p>Remake of the 2014 film Veeram in which a kind-hearted villager takes down the enemies of his fiancee's father, to safeguard their family.</p>
</div>
<div style=" font-size: xx-large; padding-left: 72px; padding-top: 20px;font-family: 'Fondamento', cursive;">
    <div>
        DIRECTOR : Farhad Samji
    
 </div>
 </div>
 <div style=" font-size: xx-large; padding-left: 72px; padding-top: 20px;font-family: 'Fondamento', cursive;">
    <div>
        WRITER :  Nischay Kuttanda (story), Farhad Samji
    
 </div>
 </div>
 <div style=" font-size: xx-large; padding-left: 72px; padding-top: 20px;font-family: 'Fondamento', cursive;">
    <div>
       STARTS :  Akshay Kumar, Kriti Sanon, Riteish Deshmukh |
    
 </div>
 </div>
 <div class="col-md-6" style="padding-left: 600px; padding-top: 10px;">
    <a> <button [routerLink]="['/booknow']"  routerLinkActive="active" mat-raised-button color="warn">book</button></a>
  </div>