<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
<div class="banner" style="height: 300px;">
    <div style="height: 300px; background : url('//in.bmscdn.com/webin/static/aboutus/bg.jpg') no-repeat; background-size: cover;">
        <div class="text-block">
            
            <h1 style="align-items: center; text-align: center; font-size: 100px;font-family: 'Montserrat Subrayada', sans-serif;
            font-family: 'Raleway', sans-serif; padding-top: 30px;font-family: 'Montserrat Subrayada', sans-serif;" class="lowertext">THANKS FOR BOOKING</h1>
             <p  style="padding-top: 20px; align-items: center; text-align: center; font-size: xxx-large ;font-family: 'Montserrat Subrayada', sans-serif;
             font-family: 'Raleway', sans-serif;font-family: 'Montserrat Subrayada', sans-serif; " class="uppertext">ENJOY YOUR MOVIE</p>
        </div>
    </div>
</div>