<div class="col-md-12">
    <table class="table">
      <tbody>
          <tr>
        <td>
         <img src="assets/images/pic1.png" height= "500" width="500">
        </td>
    </tr>
    <tr>
        <td>
            <b>Bachchan Pandey is an upcoming Indian Hindi-language action film directed by Farhad Samji, written by Nischay Kuttanda and Farhad Samji and produced by Sajid Nadiadwala. It stars Akshay Kumar and Kriti Sanon in lead roles. Initially planned as a remake of Veeram (2014),the film follows an original script by Kuttanda and Samji.</b>
        </td></tr>
      </tbody>
    </table>
    <button type="submit" routerLink = "bookticket">BookTicket</button>
    
    <!-- <mat-sidenav-container style="background-color: white;">
    <mat-sidenav style="background-color: grey;" mode="side" opened>
     <mat-nav-list style="width: 200px;">
        <a mat-list-item routerLink='bookticket' style="height: 60px;">Book Tickets</a>
     </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <p style="height: 88vh;">
          <router-outlet></router-outlet>
        </p>
      </mat-sidenav-content>
</mat-sidenav-container> -->
  </div>
